.card {
  max-width: 830px;
  margin: 15vh auto;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* ---------------- Header -------------------- */
.card-header {
  background: rgb(7, 47, 113);
  background: linear-gradient(
    90deg,
    rgba(7, 47, 113, 1) 0%,
    rgba(0, 111, 186, 1) 65%
  );
  min-height: 100px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  color: rgb(255, 255, 255);
  /* font-size: 28px; */
}

.icon-cancel {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.icon-cancel:active {
  transform: translateY(2px);
}
/* ---------------- Header -------------------- */

/* ---------------- Form -------------------- */
.card-body {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.card-form {
  display: flex;
  flex-direction: column;
}

.card-form-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: rgb(64, 97, 119);
  margin-bottom: 5px;
}

.input-short {
  width: 220px;
}

.input-long {
  width: 530px;
}

.input-long,
.input-short {
  resize: none;
  padding: 0 10px;
  font-size: 20px;
  height: 80px;
  border-radius: 3px;
  border: 2px solid rgb(255, 174, 0);
}

.input-long:focus,
.input-short:focus {
  outline: none;
  filter: brightness(99%);
}

.btn-delete-input {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 101, 101);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  align-self: flex-end;
  margin: 0 20px;
  cursor: pointer;
}

.btn-add-input {
  width: 30px;
  height: 30px;
  background-color: rgb(0, 111, 186);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  margin: 0 20px;
  cursor: pointer;
}

.btn-add-input:active {
  transform: translateY(2px);
}

@media (max-width: 600px) {
  .input-long {
    width: 220px;
  }

  #legal-form-description-transliterated-en {
    align-self: center;
  }
}

@media (max-width: 360px) {
  .form-group label {
    text-align: center;
  }
}
/* ---------------- Form -------------------- */

/* ---------------- Buttons -------------------- */
.card-buttons {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 35px;
}

.checkboxes {
  display: flex;
  gap: 60px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.checkbox-group label {
  color: rgb(0, 111, 186);
}

.save-cancel-buttons {
  display: flex;
  gap: 12px;
}

.btn-save,
.btn-cancel {
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-save {
  width: 110px;
  background-color: rgb(96, 198, 150);
  color: rgb(255, 255, 255);
}

.btn-cancel {
  width: 100px;
  background-color: rgb(242, 245, 250);
  color: rgb(0, 0, 0);
}

.btn-save:active,
.btn-cancel:active {
  transform: translateY(2px);
}
/* ---------------- Buttons -------------------- */
